<div class="account">
    <div class="account-address">Аккаунт: <%=address%></div>
    <div class="account-address">Баланс: <%=balance%></div>
    <div class="account-address">Активы: <%=tokenBalance%> tokens</div>
</div>