<% dateParser = function(date) {
    var startDate = new Date(date);
    var startDay = (startDate.getDate() < 10 ? '0' + startDate.getDate() : startDate.getDate());
    var startYear = startDate.getFullYear()
    var startMonth = ''
    var weekDay = ''
    switch (startDate.getMonth()){
        case 0:
            startMonth = locals.month[0]
            break;
        case 1:
            startMonth = locals.month[1]
            break;
        case 2:
            startMonth = locals.month[2]
            break;
        case 3:
            startMonth = locals.month[3]
            break;
        case 4:
            startMonth = locals.month[4]
            break;
        case 5:
            startMonth = locals.month[5]
            break;
        case 6:
            startMonth = locals.month[6]
            break;
        case 7:
            startMonth = locals.month[7]
            break;
        case 8:
            startMonth = locals.month[8]
            break;
        case 9:
            startMonth = locals.month[9]
            break;
        case 10:
            startMonth = locals.month[10]
            break;
        case 11:
            startMonth = locals.month[11]
            break;
    }

    switch (startDate.getDay()){
        case 0:
            weekDay = locals.days[0];
            break;
        case 1:
            weekDay = locals.days[1];
            break;
        case 2:
            weekDay = locals.days[2];
            break;
        case 3:
            weekDay = locals.days[3];
            break;
        case 4:
            weekDay = locals.days[4];
            break;
        case 5:
            weekDay = locals.days[5];
            break;
        case 6:
            weekDay = locals.days[6];
            break;
    }
    startDate = weekDay + ', ' + startDay + '. ' + startMonth + ' ' + startYear;
    return startDate;
}
%>