<% if (page == 'category') { %>
<div class="more" data-ismain="<%=category.ismain%>" data-category="<%=category._id%>" data-last="<%=from%>"><%=locals.navigations.more%></div>
<% } else if (page == 'tags') { %>
<div class="more" data-tag="<%=tag%>" data-last="<%=from%>"><%=locals.navigations.more%></div>
<% } %>