<%-include ./dateParser%>
<article>
    <a href="/project/<%=project.alias%>">
        <%  var image = "/images/noimage.jpg"
            if (project.image){
                image = project.image
            }
            image = image.substr(0, image.lastIndexOf('.')) + "-slide" +
                image.substr(image.lastIndexOf('.'))
        %>
        <img src="<%=image%>" alt="<%=project.title%>">
        <div class="details">
            <h2><%=project.title%></h2>
            <%  var description = project.description;
                if (description.length > 170){
                    description = description.substr(0, 170) + "..."
                }
            %>
            <p><%=description %></p>
        </div>
        <div class="secondary">
            <span class="views"><%=project.views%></span>
            <span class="date"><%=dateParser(project.moderated)%></span>
        </div>
    </a>
</article>
