<a href="/project/<%=project.alias%>">
    <%  var image = "/images/noimage.jpg"
    if (project.image){
        image = project.image
    }
    image = image.substr(0, image.lastIndexOf('.')) + "-min" +
            image.substr(image.lastIndexOf('.'))
    %>
    <img src="<%=image%>" alt="<%=project.title%>">
    <div class="details">
        <h2><%=project.title%></h2>
        <%  var description = project.description
        if (description.length > 100){
            description = description.substr(0, 100) + "..."
        }
        %>
        <p><%=description%></p>
    </div>
</a>
