<% if (project.tags && (project.tags.length > 0)) { %>
    <div class="tags">
        <% project.tags.forEach(function(tag){ %>
            <a href="/projects/<%=tag%><%=urltail%>">#<%=tag%></a>
        <% }) %>
    </div>
<% } %>
