<main role="main">
    <% if (notfound) { %>
        <div class="notfoundpage">
            <p><%=locals.messages.notfound.title%><%=tag%></p>
            <p class="small"><%=locals.messages.notfound.text%></p>
            <div class="sad"></div>
        </div>
    <% } else { %>
        <h1><%=locals.messages.found%><%=tag%></h1>
        <div class="project-holder">
            <% projects.forEach(function(project) { %>
            <%-include ../modules/projectItem%>
            <% }) %>
        </div>
        <% if (showMore){ %>
            <%-include ../modules/moreButton%>
        <% } %>
    <% } %>
</main>