<header>
    <div class="flex-row flex-full">
    <% if (page != "login") { %>
        <div class="title"><span>Регистрация</span></div>
        <% if (page != "join") { %>
            <div class="title">Вы вошли как <span id="moderator"><%=adminname%></span></div>
            <div class="buttons">
                <a href="/admin/logout">Выход</a>
                <a href="/" target="_blank"><%=companyname%></a>
                <%
                    var catActive = ""
                    switch (page){
                        case "account.ejs":
                            catActive = "active"
                            break
                    }
                %>
                <a href="/admin/categories" class="<%=catActive%>">Проекты</a>
                <a href="/admin/account" class="">Личный кабинет</a>
            </div>
        </div>
        <% } %>
    <% } else { %>
        <div class="title"><span>Вход в админ-панель</span></div>
    <% } %>
</header>