<script src="/scripts/admin/error.js"></script>
<script src="/scripts/admin/mediadescription.js"></script>
<script src="/scripts/admin/aliasmaker.js"></script>
<script src="/scripts/admin/click-actions.js"></script>
<script src="/scripts/admin/tags.js"></script>
<script src="/scripts/admin/media-actions.js"></script>
<script src="/scripts/admin/projects.js"></script>
<script src="/scripts/admin/categories.js"></script>
<script src="/scripts/admin/login.js"></script>