<%-include ../modules/dateParser%>
<main role="main">
    <div class="project-wrapper">
        <project>
            <% if (project.image && (project.image.length > 0)){%>
                <img src="<%=project.image%>" alt="<%=project.title%>">
            <% } %>
            <div class="details">
                <div class="secondary">
                    <span class="date"><%=locals.navigations.published%><%=dateParser(project.moderated)%></span>
                    <span class="views"><%=locals.navigations.views%><%=project.views%></span>
                </div>
                <h1><%=project.title%></h1>
                <%-project.description%>
            </div>
        </project>
        <aside>
            <%-include ../modules/tags%>
            <% relprojects.forEach(function(project) { %>
            <%-include ../modules/sideProjectItem%>
            <% }) %>
        </aside>
    </div>
</main>
