<%- include ../modules/dateParser %>
<div class="holder type flex-container flex-col padding20">
    <div class="flex-col flex-full padding20">
        <label for="imgproject">Главное изображение</label>
        <div class="logo-holder imgproject">
            <%
            var img = noimage
            if (project.image && (project.image.length > 0)) {
                img = project.image
            } else {
                var ext = img.substr(img.indexOf('.'))
                img = img.substr(0, img.indexOf('.'))
                img = img + "-slide" + ext
            }
            %>
            <img src="<%= img %>">
        </div>
        <div class=" flex-row">
            <div class="button green imgproject" id="main-project-img">+ Добавить</div>
            <div class="button red" id="del-main-img">Удалить</div>
            <div style="height: 0; width: 0; overflow: hidden; float: left;">
                <input id="imgproject" type="file" accept="image/*">
            </div>
        </div>
    </div>
    <div class="flex-row flex-full">
        <div class="flex-col flex-half padding20">
            <div class="input-row">
                <label for="title">Название проекта</label>
                <input type="text" id="title" value="<%= project.title %>">
            </div>
            <div class="input-row">
                <label for="alias">URL страницы (без домена и /)</label>
                <input type="text" id="alias" value="<%= project.alias %>">
            </div>
            <div class="input-row">
                <span class="label">Категории проекта</span>
                <div class="cat-holder check-holder flex-row flex-row-wrap" id="project-categories">
                    <% categories.forEach(function(category) {
                        var catActive = ''
                        if ((category._id == currentcat) || (project.categories && (project.categories.indexOf(category._id) != -1))) {
                            catActive = 'active'
                        }
                    %>
                    <div class="cat check <%= catActive %>" id="<%= category._id %>"><%= category.title %></div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="flex-col flex-half padding20">
            <div class="input-row flex-row">
                <div class="flex-col flex-half tag-holder">
                    <label for="tags">Введите тег и нажмите ВВОД</label>
                    <input id="tags" type="text">
                    <div class="autofill-bar"></div>
                </div>
                <div class="flex-col flex-half">
                    <label for="project-tags">Теги</label>
                    <div id="project-tags" class="tags-holder">
                        <% if (project.tags && project.tags.length) {
                        project.tags.forEach(function(tag){
                        %>
                        <div class="t-item"><%= tag %></div>
                        <% })} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-col flex-full padding20">
        <div class="mediaelement project-mediadescr clear">
            <label for="mediacontent">Описание</label>
            <div class="mediacontent" style="display: none"><%- project.description %></div>
        </div>
    </div>
    <% if (project != 'new') { %>
    <div class="flex-col flex-full padding20">
        <div class="open-bayan link">История модерации:</div>
        <div class="bayan v-list">
            <div class="v-item flex-row">
                <div class="title"><%= project.creator %></div>
                <div class="created flex-col">
                    <span>Создана: <%- dateParser(project.created) %></span>
                </div>
            </div>
            <% if (project.moderatedhistory && (project.moderatedhistory.length > 0)) {
            project.moderatedhistory.forEach(function(item){ %>
            <div class="v-item flex-row">
                <div class="title"><%= item.moderator %></div>
                <div class="created flex-col">
                    <span>Отмодерирована: <%- dateParser(item.date) %></span>
                </div>
            </div>
            <% })
            }
            %>
        </div>
    </div>
    <% } else { %>
    <div class="flex-row flex-full">
        <div class="flex-col flex-half padding20">
            <div class="input-row">
                <label for="days">Продолжительность (в днях): </label>
                <input type="number" id="days" value="30">
            </div>
        </div>
    </div>
    <% } %>
    <div class="flex-col flex-full padding20">
        <div class="buttons id-info flex-row flex-centered" data-parent="<%= parent %>" id="<%= project._id %>">
            <% if (project == 'new') { %>
                <div class="button green" id="new-project">Сохранить</div>
            <% } else { %>
                <div class="button green" id="edit-project">Сохранить</div>
                <div class="button red" id="delete-project">Удалить</div>
            <% } %>
            <a href="/admin/projects/<%= currentcat %>" class="button">Отмена</a>
            <div class="loader"></div>
        </div>
    </div>
</div>