<div class="holder type">
    <div class="options-header">
        <a href="/admin/project/<%=category.id%>/new" class="button green">Добавить проект +</a>
    </div>
    <div class="search padding20">
        <input type="text" id="search-project" placeholder="Введите название проекта">
    </div>
    <div class="projects v-list flex-full padding20">
        <% include ./item %>
    </div>
</div>