<!DOCTYPE html>
<html lang="ru" dir="ltr">
<%- include ../common/head %>
<body>
<%- include ../common/header %>
<%- include ../common/error %>
<%- include ./body %>
<%- include ../common/footer %>
</body>
</html>
