<%
    var mainClass = ""
    var hideMainProjects = false
    if (item.ismain) {
        mainClass = "ismain"
        if (item.projectCount == 0){
            hideMainProjects = true
        }
    }
%>
<li class="ui-state-default ui-sortable-handle <%=mainClass%>" id="<%=item._id%>" data-title="<%=item.title%>" data-alias="<%=item.alias%>" data-projectcount="<%=item.projectCount%>">
    <%
        var projectcount = item.projectCount;
        if (!projectcount) {
            projectcount = 0;
        }
        var projectnames = 'Проекты';

    %>
    <div class="text">
        <span class="title"><%=item.title%></span>
        <%
        var subtitle = projectnames + ": " + projectcount;
        if (item.ismain) {
                subtitle = "Главная страница (" + subtitle + ")"
        } %>
        <span class="small"><%=subtitle%></span>
    </div>
    <div class="buttons">
        <% if (!hideMainProjects) { %>
            <a href="/admin/projects/<%=item._id%>" class="project"><%=projectnames%></a>
        <% } %>
        <a href="/admin/editcategory/<%=item._id%>" class="edit">Редактор</a>
    </div>
</li>