<header>
    <a href="/<%=urltail%>">
        <img src="/images/backgrounds/logo.png" alt="<%=companyname%>" width="50"/>
    </a>
    <div>
        <nav role="navigation">
            <ul>
                <% categories.forEach(function(cat){
                    var catActive = ""
                    if (category && (cat.alias == category.alias)){
                        catActive = "active"
                    }
                    var catName = cat.title
                    if (cat.menutitle && (cat.menutitle.length > 0)){
                        catName = cat.menutitle
                    }
                %>
                <li>
                    <a href="/<%=cat.alias%><%=urltail%>" class="<%=catActive%>"><%=catName%></a>
                </li>
                <% })%>
            </ul>
        </nav>
    </div>
</header>