<head>
    <title><%=metatitle%></title>
    <meta charset="UTF-8">
    <meta name="description" content="<%=metadescription%>">
    <meta name="keywords" content="<%=metakeywords%>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:image" content="<%=socialimage%>">
    <% if (pagenoindex == 'yes') { %>
        <meta name="robots" content="noindex, nofollow">
    <% } else { %>
        <meta name="robots" content="index, follow">
    <% } %>
    <link rel="shortcut icon" href="/images/icons/favicon.png">
    <% if (env == 'production') { %>
        <link rel="stylesheet" href="/styles/main.min.css">
    <% } else { %>
        <link rel="stylesheet" href="/styles/main.css">
    <% } %>
</head>